<div class="structure-container">

  <div class="structure-sidenav">

    <% if @previous_situation %>
      <%= link_to edit_story_situation_path(@story, @previous_situation) do %>
        <i class="fas fa-backward"></i>
      <% end %>
    <% else %>
      <%= link_to story_path(@story) do %>
        <i class="fas fa-backward"></i>
      <% end %>
    <% end %>

    <%= link_to story_situation_path(@story, @situation) do %>
      <i class="fas fa-book-open"></i>
    <% end %>


    <%= link_to stories_path do %>
      <i class="fas fa-home"></i>
    <% end %>

  </div>

  <div class="structure-content">

    <div class="structure-title-container">
      <h2><%= @story.name %></h2>
    </div>

    <div class="rounded-container">
      <%= simple_form_for [ @story, @situation ] do |f| %>
        <%= f.label :description, "Edit Situation" %>
        <%= f.input :description, :as => :text, label: false, :input_html => { class: "situation-container" } %>
        <%= f.button :submit, "Submit changes", class: "oval-bordered-button" %>
      <% end %>
    </div>

    <div class="choices">

      <% @child_choices.each_with_index do |choice, index| %>

        <% if choice.next_situation %>

          <div class="rounded-container choice">
            <h3>Choice <%= index +1 %></h3>
            <p><%= choice.description %></p>
            <div class="choice-ico green">
              <i class="fas fa-circle"></i>
            </div>
            <div class="choice-edition" data-choice="<%= index %>">
              <%= simple_form_for [ @story, @situation, choice ] do |f| %>
                <%= f.input :description, :as => :text, label: false%>
                <%= f.button :submit, "Submit changes", class: "oval-bordered-button" %>
              <% end %>
            </div>
            <div class="choice-options" data-choice="<%= index %>">
              <%= link_to edit_story_situation_path(@story, choice.next_situation) do  %>
                <i class="fas fa-forward"></i>
              <% end %>
              <div class="edit-choice-btn" data-choice="<%= index %>">
                <i class="fas fa-edit"></i>
              </div>
              <%= link_to story_situation_choice_path(@story, @situation, choice), method: :delete, data: { confirm: "Are you sure?" } do%>
                <i class="far fa-trash-alt"></i>
              <% end %>
            </div>
          </div>

        <% else %>

          <div class="rounded-container choice">
            <h3>Choice <%= index +1 %></h3>
            <p><%= choice.description %></p>
            <div class="choice-ico red">
              <i class="fas fa-circle"></i>
            </div>
            <div class="choice-edition" data-choice="<%= index %>">
              <%= simple_form_for [ @story, @situation, choice ] do |f| %>
                <%= f.input :description, :as => :text, label: false%>
                <%= f.button :submit, "Submit changes", class: "oval-bordered-button" %>
              <% end %>
            </div>
            <div class="choice-options" data-choice="<%= index %>" >
              <%= link_to new_story_situation_path(@story, choice.next_situation) do  %>
                <i class="fas fa-forward"></i>
              <% end %>
              <div class="edit-choice-btn" data-choice="<%= index %>">
                <i class="fas fa-edit"></i>
              </div>
              <%= link_to story_situation_choice_path(@story, @situation, choice), method: :delete, data: { confirm: "Are you sure?" } do%>
                <i class="far fa-trash-alt"></i>
              <% end %>
            </div>

          </div>

        <% end %>
      <% end %>

    </div>


    <div class="rounded-container">
      <%= simple_form_for [ @story, @situation, @choice ] do |f| %>
        <%= f.label :description, "Add a new choice" %>
        <%= f.input :description, label: false %>
        <%= f.button :submit, "Add a choice", class: "oval-bordered-button" %>
      <% end %>
    </div>

  </div>

</div>


