
<div class="structure-container">

  <div class="structure-sidenav">
    <%= link_to root_path do %>
      <i class="fas fa-home"></i>
    <% end %>

    <%= link_to new_story_path do %>
      <i class="fas fa-plus-circle"></i>
    <% end %>

  </div>

  <div class="structure-content">

    <div class="structure-title-container">
      <h2>All Stories</h2>
    </div>


    <div class="story-cards">
      <% @stories.each do |story| %>
        <%= link_to story_path(story) do %>
          <div class="rounded-container story-card">
            <h3><%= story.name %></h3>
            <p>Description: <%= story.description %></p>
            <p><%= story.situations.count %> Situations on this story</p>
          </div>
        <% end %>
      <% end %>
    </div>

  </div>

</div>
