

<!--
création d´ une situation initiale
donc création d´ une situation
création de 2 choix -->

<div class="structure-container">

  <div class="structure-sidenav">
    <%= link_to stories_path do %>
      <i class="fas fa-home"></i>
    <% end %>
  </div>

  <div class="structure-content">

    <div class="structure-title-container">
      <h2><%= @story.name %></h2>
    </div>

    <div class="rounded-container">
      <p>Story Description: <%= @story.description %></p>
      <p><%= @story.situations.count %> Situations on this story</p>
    </div>

    <% if @story.situations.count == 0 %>
      <%= link_to "Create the first situation for this story", new_story_situation_path(@story), class: "oval-bordered-button" %>
    <% else %>
      <%= link_to "Go to initial situation", story_situation_path(@story, @story_start_situation), class: "oval-bordered-button"  %>
    <% end %>

  </div>

</div>
